
@{
    ViewData["Title"] = "FIRE";
}

<h1 class="text-center mt-3">Who I Am</h1>
<hr />

<div class="mt-4">
    <center><img src="~/images/Stock.png" asp-append-version="true" width="40%" height="40%"></center>
</div>
<h5 class="mt-4">Lorem ipsum dolor sit amet. Quo debitis numquam At neque ipsum qui totam amet sit 
    veniam nostrum. Sed eaque molestiae ex placeat internos cum similique eligendi sit libero rerum et obcaecati 
    illo aut sunt repellat qui voluptas enim. Aut alias enim in molestias galisum est consequatur ratione a 
    voluptatum quaerat vel exercitationem animi quo voluptas nostrum aut maiores amet. Et illo galisum est 
    consectetur consectetur est quaerat voluptatum. </h5>
<h5 class="mt-4">Lorem ipsum dolor sit amet. Quo debitis numquam At neque ipsum qui totam amet sit 
    veniam nostrum. Sed eaque molestiae ex placeat internos cum similique eligendi sit libero rerum et obcaecati 
    illo aut sunt repellat qui voluptas enim. Aut alias enim in molestias galisum est consequatur ratione a 
    voluptatum quaerat vel exercitationem animi quo voluptas nostrum aut maiores amet. Et illo galisum est 
    consectetur consectetur est quaerat voluptatum. </h5>
